{% extends "layout.html" %}
{% block body %}
    <h1>HPF about</h1>
    
    <div class="row">
        <div class="span5">
            <h3>About</h3>
            <p>The HPF project, or Human Proteome Folding project, is an effort to classify protein domains and predict 3-dimensional protein structure from sequence alone. It is the babychild of Dr. Richard Bonneau, currently upheld by Dr. Bonneau's research group at the NYU CGSB.</p>
        </div>
        <div class="span5 offset1">
            <h3>Contact</h3>
            <p>Contact: Duncan Penfold-Brown, dpb3[at]nyu.edu</p>
        </div>
    </div>
{% endblock%}
