{% extends "layout.html" %}
{% block body %}
    <h1>Domain</h1>
    
    {% if domains %}
        
        <!-- Domains list -->
        <ul class="nav nav-pills nav-stacked">
        {% for d in domains %}
                <li class="colored">
                    <a data-toggle="collapse" href="#{{ d.id }}">
                    <ul class="inline result-bar domain-bar">
                        <li>ID: {{ d.id }}</li>
                        <li>Sequence: {{ d.domain_sequence_key }}</li>
                        <li>Type: {{ d.domain_type }}</li>
                        <li>Range: {{ d.region.start }} - {{ d.region.stop }}</li>
                        <li class="last"><i class="icon-chevron-down"></i></li>
                    </ul>
                    </a>
                </li>
                <div id="{{ d.id }}" class="collapse {% if loop.first %}in{% endif %}">
                    
                    <!-- Domain info -->
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><b>Domain ID</b></td>
                                <td><a href="{{ url_for('fetch_domain', domain_id=d.id) }}">{{ d.id }}</a></td>
                                <td><b>Domain Type</b></td>
                                <td>{{ d.domain_source }}: {{ d.domain_type }} ({{ d.method }})</td>
                            </tr>
                            <tr>
                                <td><b>Domain Seq Key</b></td>
                                <td><a href="{{ url_for('fetch_sequence', sequence_id=d.domain_sequence_key) }}">{{ d.domain_sequence_key }}</a></td>
                                <td><b>Parent Seq Key</b></td>
                                <td><a href="{{ url_for('fetch_sequence', sequence_id=d.parent_sequence_key) }}">{{ d.parent_sequence_key }}</a></td>
                            </tr>
                            <tr>
                                <td><b>Domain #</b></td>
                                <td>{{ d.domain_nr }}</td>
                                <td><b>Domain Range</b></td>
                                <td>{{ d.region.start }} - {{ d.region.stop }} / {{ d.parent_sequence.sequence|length }}</td>
                            </tr>
                            <tr>
                                <td><b>Ginzu Version</b></td>
                                <td>{{ d.ginzu_version }}</td>
                                <td><b>Insert Date</b></td>
                                <td>{{ d.insert_date }}</td>
                            </tr>
                        </tbody>                        
                    </table>

                    <!-- Extended info-->
                    <h4>Sequence</h4>
                    <textarea class="sequence">
                        {{d.sequence.sequence}}
                    </textarea>
                    
                    {% if d.sequence.psipred %}
                        <h4>Psipred</h4>
                        <textarea class="psipred">
                        {{ d.sequence.psipred[0].prediction }}
                        {{ d.sequence.psipred[0].confidence }}
                        </textarea>
                    {% endif %}
                    
                    
                    <!-- Structure information based on type (known v unknown) -->
                    <h4>Structure</h4>
                    {% if d.domain_type in ("psiblast", "fold_recognition") %}
                        
                    {% elif d.domain_type in ("pfam", "msa", "unassigned")%}
                    
                    {% endif %}
                    
                    
                    {% if d.proteins %}
                        <h4>Proteins</h4>
                        
                        <!-- Diagrams -->
                        <div class="domain-diagram">
                            {% for dia_prot in d.proteins %}
                                <ul class="domain-list inline nav">
                                {% for dia_dom in dia_prot.domains %}
                                    <li class="{% if dia_dom.id==d.id %}{{ d.domain_type }}{% else %}nothing{% endif %}" style="width: {{ 100 * dia_dom.sequence.sequence|length / dia_prot.sequence.sequence|length }}%">
                                        <span class="small pull-left">&nbsp({{ dia_dom.region.start }})</span><span class="small pull-right">({{ dia_dom.region.stop }})&nbsp</span>
                                        <a href="{{ url_for('fetch_domain', domain_id=dia_dom.id) }}">{{ dia_dom.domain_nr }}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                                <hr />
                            {% endfor %}
                        </div>

                        <!-- List -->
                        {% for p in d.proteins %}
                            <p><a href="{{ url_for('fetch_protein', protein_id=p.id) }}" target="_blank">{{ p }}</a></p>
                        {% endfor %}
                        
                    {% endif %}
                    
                    {% if not loop.last %} <hr /> {% endif %}
                
                </div> <!-- END collapsible region -->    
        {% endfor %}
        </ul>


    {% elif domains==[] %}
        
        <p>Search for domains with <b>{{ search }}</b> returned no results. Try again.</p>

    {% endif %}
        
    <hr />

    <form class="form-inline" action="{{ url_for('domain') }}" method=get>
        <select name="type" class="small input-small">
            <option value="hpf_id" selected>hpf ID</option>
            <option value="seq_id" >seq ID</option>
            <option value="prediction_code" >prediction code</option>
            <option value="protein_id">protein ID</option>
        </select>
        <input  name="term"  type="text" class="small span2" placeholder="...">
        <button type="submit" value="Submit" class="small btn btn-primary btn-small">search</button>
    </form>


{% endblock%}
