{% extends "layout.html" %}
{% block body %}
    <h1>Domain</h1>
    
    {% if domain_dbo %}
        
        <h3>id + AA sequence</h3>
        <p>{{ domain_dbo.id }}<p>
        <p class="fixed">{{ domain_dbo.sequence.sequence }}</p>
        
        <h3>proteins</h3>
        {% for p in domain_dbo.proteins %}
            <p>{{ p }}</p>
        {% endfor %}

    {% elif domain_dbo == None %}
        
        <p>No matching domain object found in database.</p>

    {% endif %}
        
    <hr />

    <form class="form-inline" action="{{ url_for('domain') }}" method=post>
        <select name="type" class="small input-small">
            <option value="hpf_id" selected>hpf ID</option>
            <option value="seq_id" >seq ID</option>
            <option value="prediction_code" >prediction code</option>
        </select>
        <input  name="term"  type="text" class="small span2" placeholder="...">
        <button type="submit" value="Submit" class="small btn btn-primary btn-small">search</button>
    </form>


{% endblock%}
