{% extends "layout.html" %}
{% block body %}
    
    <div class="page-header">
        <h1>Welcome to the HPF data exposition website</h1>
        <p>Data from the Human Proteome Folding project, exposed in a hopefully nice-looking and simple way</p>
    </div>

    <div class="row">
        
        <div class="span4">
            <h3>Protein</h3>
            <p>Protein information includes protein sequence, domain annotation (with corresponding Ginzu version), and all accession entries.</p>
            <p>Proteins can be fetched by protein ID, sequence key, accession, or keyword (time consuming). Select field type below.</p>
           
            <!-- NOTE: that both GET and POST methods put variables in Flask request.form dict -->
            <form class="form-inline" action="{{ url_for('protein') }}" method=post>
                <select name="type" class="input-small">
                    <option value="hpf_id" selected>hpf ID</option>
                    <option value="seq_id" >seq ID</option>
                    <option value="ac"     >accession</option>
                    <option value="keyword">keyword (!)</option>
                </select>
                <input  name="term"  type="text" class="span2" placeholder="...">
                <button type="submit" value="Submit" class="btn btn-primary btn-small">search</button>
            </form>
        </div>
        
        <div class="span4">
            <h3>Domain</h3>
            <p>Domain information includes all domain properties (length, source, region, type), sequence, Ginzu version, and known/unknown structure display.</p>
            <p>Domains can be fetched by domain ID, or sequence key. To see the component domains of a protein, search in Protein field.</p>
            <form class="form-inline" action="{{ url_for('domain') }}" method=post>
                <select name="type" class="input-small">
                    <option value="hpf_id" selected>hpf ID</option>
                    <option value="seq_id" >seq ID</option>
                    <option value="prediction_code" >prediction code</option>
                </select>
                <input  name="term"  type="text" class="span2" placeholder="...">
                <button type="submit" value="Submit" class="btn btn-primary btn-small">search</button>
            </form>
        </div>
        
        <div class="span4">
            <h3>Sequence</h3>
            <p>Sequence information includes AA sequence, tool results (Psipred, etc), and proteins and/or domains associated with the sequence.</p>
            <p>Sequences are searchable by sequence ID, and can be compared to our databases via <a href="{{ url_for('blast') }}">blast</a> (or see the Blast field).</p>
            <form class="form-inline" action="{{ url_for('sequence') }}" method=post>
                <select name="type" class="input-small">
                    <option value="hpf_id" selected>hpf ID</option>
                </select>
                <input  name="term"  type="text" class="span2" placeholder="...">
                <button type="submit" value="Submit" class="btn btn-primary btn-small">search</button>
            </form>
        </div>
    </div>

    <div class="row">
        
        <div class="span4">
            <h3>Experiment</h3>
            <p>The experiment page displays a summary of the proteins and domains encapsulated by an experiment (a set of proteins, usually from a particular organism). </p>
            <p>Experiments can be fetched by ID, taxonomy ID, or organism name keyword search.</p>
            <form class="form-inline" action="{{ url_for('experiment') }}" method=post>
                <select name="type" class="input-small">
                    <option value="hpf_id" selected>hpf ID</option>
                    <option value="tax_id">tax. ID</option>
                    <option value="organism">organism</option>
                </select>
                <input  name="term"  type="text" class="span2" placeholder="...">
                <button type="submit" value="Submit" class="btn btn-primary btn-small">search</button>
            </form>
        </div>
        
        <div class="span4">
            <h3>Blast</h3>
            <p>This page will eventually feature a blast interface, enabling the submission of protein sequences to be blasted against our database. Results indicating where the given sequence maps to proteins and sequences in our database will be displayed</p>
            <p>Currently, our blast interface is up and running at <a href="http://pfp.bio.nyu.edu/blast/index" target="_blank">pfp.bio.nyu.edu</a></p>
        </div>
        
        <div class="span4">
            <h3>...</h3>
            <p>Tools and lookups for the future...</p>
            <p><span class="note">Note</span> that to view protein/domain structure and function predictions, find the relevant proteins/domains via the above types.</p>
        </div>
        
    </div>

{% endblock%}
