{% extends "layout.html" %}
{% block body %}
    <h1>Protein</h1>
    
    {% if proteins %}
        <ul class="nav nav-pills nav-stacked">
        {% for p in proteins %}
                <li class="colored"><a data-toggle="collapse" href="#{{ p.id }}">{{p.ac.ac}} ID: {{ p.id }} / Sequence: {{ p.sequence_key }} / Experiment: {{ p.experiment_key }}<i class="icon-chevron-down pull-right"></i></a></li>
                <div id="{{ p.id }}" class="collapse">

                    <table class="table table-hover">
                        <tbody>
                            <!-- Protein info -->
                            <tr>
                                <td><b>Protein ID</b></td>
                                <td><a href="{{ url_for('fetch_protein', protein_id=p.id) }}">{{ p.id }}</a></td>
                                <td><b>Protein Type</b></td>
                                <td>{{ p.protein_type }}</td>
                            </tr>
                            <tr>
                                <td><b>Sequence ID</b></td>
                                <td><a href="{{ url_for('fetch_sequence', sequence_id=p.sequence_key) }}">{{ p.sequence_key }}</a></td>
                                <td><b>Inserted</b></td>
                                <td>{{ p.insert_date }}</td>
                            </tr>
                            <tr>
                                <td><b>Experiment ID</b></td>
                                <td colspan="3"><a href="{{ url_for('fetch_experiment', experiment_id=p.experiment_key) }}">{{ p.experiment_key }}</a></td>
                            </tr>

                            <!-- Protein Accession info (only if ac object exists) -->
                            {% if p.ac %}
                            <tr>
                                <td><b>Description</b></td>
                                <td colspan="3">{{ p.ac.description }}</td>
                            </tr>
                            <tr>
                                <td><b>Accession</b></td>
                                <td>{{ p.ac.ac }}</td>
                                <td><b>Alt. Accession</b></td>
                                <td>{{ p.ac.ac2 }}</td>
                            </tr>
                            <tr>
                                <td><b>Taxonomy</b></td>
                                <td>{{ p.ac.taxonomy_id }}</td>
                                <td><b>Source Database</b></td>
                                <td>{{ p.ac.db }}</td>
                            </tr>
                            <!--
                            <tr>
                                <td><b>Gene ID (GI)</b></td>
                                <td colspan="3">{{ p.ac.gi }}</td>
                            </tr>
                            -->
                            {% endif %}
                        </tbody>                        
                    </table>

                    <h4>Sequence</h4>
                    <textarea class="sequence">
                        {{p.sequence.sequence}}
                    </textarea>
                    
                    {% if p.sequence.psipred %}
                        <h4>Psipred</h4>
                        <textarea class="psipred">
                        {{ p.sequence.psipred[0].prediction }}
                        {{ p.sequence.psipred[0].confidence }}
                        </textarea>
                    {% endif %} 
                    
                    {% if p.sequence.disopred %}
                        <h4>Disopred</h4>
                        <textarea class="disopred">
                        {{ p.sequence.disopred[0].file }}
                        </textarea>
                    {% endif%}
                    
                    {% if p.domains %}
                        <h4>Domains</h4>
                        {% for d in p.domains %}
                            <p><a href="{{ url_for('fetch_domain', domain_id=d.id) }}" target="_blank">{{ d }}</a></p>
                        {% endfor %}
                    {% endif %}
                    
                    {% if not loop.last %}
                        <hr />
                    {% endif %}
                </div> <!-- END collapsible region -->    
        {% endfor %}
        </ul>

    {% elif proteins == [] %}
        
        <p>No proteins found for given search terms. Tryyyy agaaaainnnnn</p>
        
    {% endif %}
    
    <hr />
    <form class="form-inline" action="{{ url_for('protein') }}" method=post>
        <select name="type" class="small input-small">
            <option value="hpf_id" selected>hpf ID</option>
            <option value="seq_id" >seq ID</option>
            <option value="ac"     >accession</option>
            <option value="keyword">keyword (!)</option>
        </select>
        <input  name="term"  type="text" class="small span2" placeholder="...">
        <button type="submit" value="Submit" class="small btn btn-primary btn-small">search</button>
    </form>


{% endblock%}
